In [53]:
import numpy as np
import pandas as pd

In [54]:
train_df = pd.read_csv('./datasets/train.csv')
test_df = pd.read_csv('./datasets/test.csv')
sample_df = pd.read_csv('./datasets/sample_submission.csv')

In [55]:
train_df = train_df.dropna(axis=0)
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 404287 entries, 0 to 404289
Data columns (total 6 columns):
id              404287 non-null int64
qid1            404287 non-null int64
qid2            404287 non-null int64
question1       404287 non-null object
question2       404287 non-null object
is_duplicate    404287 non-null int64
dtypes: int64(4), object(2)
memory usage: 21.6+ MB

   test_id  is_duplicate
0        0             1
1        1             1
2        2             1
3        3             1
4        4             1

In [59]:
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer

In [60]:
train_df['text'] = train_df['question1'] + train_df['question2']

In [61]:
stops_word = stopwords.words("english")
tfidf_vec = TfidfVectorizer(analyzer='word',  max_features=100, stop_words=stops_word)

In [62]:
tfidf_vec.fit_transform(train_df['text'])

<404287x100 sparse matrix of type '<class 'numpy.float64'>'
	with 731206 stored elements in Compressed Sparse Row format>

In [63]:
question_01_tdidf = tfidf_vec.transform(train_df['question1']).toarray()
for i in range(len(question_01_tdidf[0])):
    train_df['question1_tfidf_' + str(i)] = question_01_tdidf[:, i]

In [64]:
question_02_tdidf = tfidf_vec.transform(train_df['question2']).toarray()
for i in range(len(question_02_tdidf[0])):
    train_df['question2_tfidf_' + str(i)] = question_02_tdidf[:, i]

In [65]:
train_df['question1_len'] = train_df['question1'].map(len)
train_df['question2_len'] = train_df['question2'].map(len)

In [67]:
test_df = test_df.fillna("", axis=0)

In [69]:
question_01_tdidf = tfidf_vec.transform(test_df['question1']).toarray()
for i in range(len(question_01_tdidf[0])):
    test_df['question1_tfidf_' + str(i)] = question_01_tdidf[:, i]
question_02_tdidf = tfidf_vec.transform(test_df['question2']).toarray()
for i in range(len(question_02_tdidf[0])):
    test_df['question2_tfidf_' + str(i)] = question_02_tdidf[:, i]

In [70]:
test_df['question1_len'] = test_df['question1'].map(len)
test_df['question2_len'] = test_df['question2'].map(len)

In [71]:
train_df.head()

,id,qid1,qid2,question1,question2,is_duplicate,text,question1_tfidf_0,question1_tfidf_1,question1_tfidf_2,...,question2_tfidf_92,question2_tfidf_93,question2_tfidf_94,question2_tfidf_95,question2_tfidf_96,question2_tfidf_97,question2_tfidf_98,question2_tfidf_99,question1_len,question2_len
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,What is the step by step guide to invest in sh...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,66,57
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,What is the story of Kohinoor (Koh-i-Noor) Dia...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.477068,0.0,0.0,51,88
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0,How can I increase the speed of my internet co...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,73,59
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0,Why am I mentally very lonely? How can I solve...,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,50,65
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0,"Which one dissolve in water quikly sugar, salt...",0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.000000,0.0,0.0,76,39

In [74]:
test_df.head()

,test_id,question1,question2,question1_tfidf_0,question1_tfidf_1,question1_tfidf_2,question1_tfidf_3,question1_tfidf_4,question1_tfidf_5,question1_tfidf_6,...,question2_tfidf_92,question2_tfidf_93,question2_tfidf_94,question2_tfidf_95,question2_tfidf_96,question2_tfidf_97,question2_tfidf_98,question2_tfidf_99,question1_len,question2_len
0,0,How does the Surface Pro himself 4 compare wit...,Why did Microsoft choose core m3 and not core ...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,57,68
1,1,Should I have a hair transplant at age 24? How...,How much cost does hair transplant require?,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,66,43
2,2,What but is the best way to send money from Ch...,What you send money to China?,0.0,0.0,0.0,0.0,0.0,0.355079,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60,29
3,3,Which food not emulsifiers?,What foods fibre?,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27,17
4,4,"How ""aberystwyth"" start reading?",How their can I start reading?,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32,30

In [75]:
features = [c for c in train_df.columns if c not in ['test_id','id','qid1', 'qid2', 'question1', 'question2', 'text', 'is_duplicate']]

In [76]:
X_train = train_df[features]
X_test_df = test_df[features]

In [77]:
Y_train = train_df['is_duplicate']

In [78]:
from sklearn.model_selection import train_test_split

In [79]:
X_train, X_test, Y_train, Y_test = train_test_split(X_train, Y_train, test_size = 0.1, 
                                                   stratify=Y_train, random_state=42)

In [80]:
# lightbgm
import sklearn
def lgb_rmse(preds, y):
    y = np.array(list(y.get_label()))
    score = np.sqrt(sklearn.metrics.mean_squared_error(y.clip(0.,20.), preds.clip(0.,20.)))
    return 'RMSE', score, False

In [81]:
params = {'learning_rate': 0.2, 'max_depth': 7, 'boosting': 'gbdt',
          'objective': 'regression', 'metric': 'mse', 'is_training_metric': False, 'seed': 18}

In [82]:
import lightgbm as lgb
lgb_model = lgb.train(params, lgb.Dataset(X_train, label=Y_train), 100, 
                      lgb.Dataset(X_test, label=Y_test), feval=lgb_rmse, verbose_eval=10, early_stopping_rounds=20)

Training until validation scores don't improve for 20 rounds.
[10]	valid_0's l2: 0.204017	valid_0's RMSE: 0.451683
[20]	valid_0's l2: 0.19793	valid_0's RMSE: 0.444893
[30]	valid_0's l2: 0.194432	valid_0's RMSE: 0.440943
[40]	valid_0's l2: 0.192214	valid_0's RMSE: 0.438417
[50]	valid_0's l2: 0.190373	valid_0's RMSE: 0.436307
[60]	valid_0's l2: 0.189259	valid_0's RMSE: 0.435024
[70]	valid_0's l2: 0.188286	valid_0's RMSE: 0.433897
[80]	valid_0's l2: 0.187203	valid_0's RMSE: 0.432642
[90]	valid_0's l2: 0.186556	valid_0's RMSE: 0.431885
[100]	valid_0's l2: 0.185844	valid_0's RMSE: 0.431054
Did not meet early stopping. Best iteration is:
[100]	valid_0's l2: 0.185844	valid_0's RMSE: 0.431054

In [83]:
sample_df['is_duplicate'] = lgb_model.predict(X_test_df, num_iteration=lgb_model.best_iteration)

In [84]:
sample_df.to_csv('./lgb_result.csv', index=False)

In [87]:
# test_df
sample_df['is_duplicate'].mean()

0.3224636604646572

In [52]:

# test_df = test_df.dropna()
# test_df['text'] = test_df['question1'] + test_df['question2']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2345796 entries, 0 to 2345795
Data columns (total 3 columns):
test_id      int64
question1    object
question2    object
dtypes: int64(1), object(2)
memory usage: 53.7+ MB

In [41]:
# test_df['text'] = test_df['text'].fillna("")
#

In [42]:
X_test_f = tfidf_vec.transform(test_df['text']).toarray()

In [43]:
Y_test_f = lin_log.predict(X_test_f)

In [45]:
sample_df.head()

   test_id  is_duplicate
0        0             1
1        1             1
2        2             1
3        3             1
4        4             1

In [51]:
result = pd.DataFrame({
    'test_id':sample_df['test_id'],
    'is_duplicate': Y_test_f
})
result.to_csv("./result.csv", index=False)